<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.responsecounter">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="adjustPan|adjustResize"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".TestActivities.PosturalStabilityActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Instructions.SingleButtonInstructions"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Instructions.DualButtonInstructions"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MiscellaneousActivites.PasswordReset"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivites.PhysiciansSubjectHome"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MiscellaneousActivites.settingsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignInActivities.SignInActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUpActivities.SubjectSignUpActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivites.PhysicianHome"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MiscellaneousActivites.HelpActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MiscellaneousActivites.NoteActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TestActivities.SingleButtonActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUpActivities.PhysicianSignUpActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivites.SubjectHome"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TestActivities.DualButtonActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MiscellaneousActivites.ReportActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.example.util.CreateChannel"
            android:label="@string/app_name">
        </service>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>